{% extends "homepage/base.html" %}

{% block title %}{{course_number}}{% endblock %}

{% block content %}

<a href="/adminApp/logout_admin">
          <h6 class="header right" style="color:#0d47a1;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOGOUT</b>&nbsp;&nbsp;&nbsp;</h6>
    </a>

<a href="/adminApp/welcome">
<h6 class="header right" style="color:#0d47a1;"><b>Back To Admin Page</b>&nbsp;&nbsp;&nbsp;</h6>
    </a>

    <br><br>

    <div class="container">
        <h3 class="header center">Enroll Students</h3>
        <div class="row">
        <div class="col s2"></div>
        <div class="col s8"><br><br>
        <form method="post" name="enroll_students" action="/adminApp/welcome/enroll">
        {% csrf_token %}
            <div class="input-field col s12">
                <select name="selected" multiple="multiple">
                    <option value="" disabled selected>Choose your option</option>
                    {% for student in all_students %}
                        <option value="{{student.pk}}">{{student.roll_number}} {{student.user.username}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="course_num" value="{{course_number}}">
            <button class="btn btn-large light-blue darken-4" type="submit" name="action">Submit</button>
        </form>
        </div>
        </div>
    </div>


{% endblock %}

{% block custom_js %}
<script>

$(document).ready(function() {
    $('select').material_select();
});

</script>
{% endblock %}
