{% extends "homepage/base.html" %}

{% block title %}Feedback{% endblock %}

{% block content %}
<a href="/adminApp/logout_admin">
          <h6 class="header right" style="color:#0d47a1;"><b>LOGOUT</b>&nbsp;&nbsp;&nbsp;</h6>
    </a>


<a href="/adminApp/welcome">
<h6 class="header right" style="color:#0d47a1;"><b>Back To Admin Page</b>&nbsp;&nbsp;&nbsp;</h6>
    </a>

    <br><br>


<div class="container">
  <div id="deadline"  style="padding-top:50px;">
    <h3 align="center">Deadlines</h3><br><br>
    <h5>Midsem deadline</h5>


      <div class="row">
        <form class="col s12" name="mid_deadline" method="post" action="/adminApp/mid_deadline/">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s3">
              <input name= "midDate" type="date" class="validate">
            </div>

            <input type="hidden" name="course_num" value="{{course.course_number}}">
            <button class="btn btn-large blue darken-4" type="submit" name="action">Save</button>
          </div>
        </form>
      </div>

    <h5>Endsem Deadline</h5>

      <div class="row">
        <form class="col s12" name="end_deadline" method="post" action="/adminApp/end_deadline/">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s3">
              <input name= "endDate" type="date" class="validate">
            </div>

            <input type="hidden" name="course_num" value="{{course.course_number}}">
            <button class="btn btn-large blue darken-4" type="submit" name="action">Save</button>
          </div>
        </form>
      </div>

          <a href="/adminApp/feedbackform/{{course.course_number}}">
          <button class="btn btn-large blue darken-4 right" name="action">Generate Feedback Forms</button>
        </a>

  </div>
</div>

{% endblock %}