{% extends "homepage/base.html" %}

{% block title %}Feedback{% endblock %}

{% block content %}

<div class="container">
  <div id="deadline"  style="padding-top:50px;">
    <h2 align="center">Deadline</h2>
    <h4>Midsem deadline</h4>
      <div class="row">

        <form class="col s12" name="mid_deadline" method="post" action="/adminApp/mid_deadline/">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s3">
              <input name= "midDate" type="date" class="validate">
            </div>

            <input type="hidden" name="course_num" value="{{course.course_number}}">
            <button class="btn btn-large blue darken-4" type="submit" name="action">Save</button>
          </div>
        </form>
      </div>

    <h4>Endsem Deadline</h4>
      <div class="row">

        <form class="col s12" name="end_deadline" method="post" action="/adminApp/end_deadline/">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s3">
              <input name= "endDate" type="date" class="validate">
            </div>

            <input type="hidden" name="course_num" value="{{course.course_number}}">
            <button class="btn btn-large blue darken-4" type="submit" name="action">Save</button>
          </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}