{% extends "homepage/base.html" %}

{% block title %}Feedback{% endblock %}

{% block content %}



<div class="container">
  <div id="midfeed"  style="padding-top:50px;">
    <h2 align="center">Midsem feedback</h2>
        <div class="row">
        <form class="col s12" name="midform" method="post" action="/adminApp/mid_feedback/">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <input name= "q1" id="q1" type="text" class="validate">
              <label for="q1">Question 1</label>
            </div>

            <div class="input-field col s12">
              <input name="q2" id="q2" type="text" class="validate">
              <label for="q2">Question 2</label>
            </div>
            <input type="hidden" name="course_num" value="{{course_number}}">
            <button class="btn btn-large blue darken-4" type="submit" name="action">Save</button>
          </div>
        </form>
      </div>
  </div>
</div>


<div class="container">
  <div id="endfeed"  style="padding-top:50px;">
    <h2 align="center">Endsem feedback</h2>
        <div class="row">
        <form class="col s12" name="endform" method="post" action="/adminApp/end_feedback/">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <input name= "q1" id="q1" type="text" class="validate">
              <label for="q1">Question 1</label>
            </div>

            <div class="input-field col s12">
              <input name="q2" id="q2" type="text" class="validate">
              <label for="q2">Question 2</label>
            </div>
            <input type="hidden" name="course_num" value="{{course_number}}">
            <button class="btn btn-large blue darken-4" type="submit" name="action">Save</button>
          </div>
        </form>
      </div>
  </div>
</div>
{% endblock %}




