{% extends "homepage/base.html" %}

{% block title %}Welcome Admin{% endblock %}

{% block content %}
    <div class="container">
    <ul class="collapsible" data-collapsible="accordion">

    {% for course in all_courses %}
        <li>
            <div class="collapsible-header">{{course.course_number}}</div>
            <div class="collapsible-body"><p>{{course.course_name}}</p></div>
        </li>
    {% endfor %}
        <li>
            <div class="collapsible-header">+ Add Course</div>
            <div class="collapsible-body">
                <form name="course_add" action="{% url 'addCourse' %}" method="post">
                    {% csrf_token %}
                    <p style="color:#004d40">Course Name </p>
                <input type="text" name="courseName" placeholder="Enter Couse Name">
                    <p id="text_error" style="color:red"><br></p>
                    <br>
                    <p style="color:#004d40">Course Number </p>
                <input type="text" name="courseNumber" placeholder="Enter Course Number">
                    <br>
                    <br>
                    <input type="submit" style="padding-left:30px;padding-right:30px;padding-top:15px;padding-bottom:15px;"/>
                </form>

            </div>
        </li>
</div>
{% endblock %}