<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}">
</head>
<body>

    <div class="container">
    	<div class="row">
			<div class="col-md-5 col-centered">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">

								<form id="login-form" action="" method="post" role="form" style="display: block;">
								{% csrf_token %}
										<div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
										<input type="text" name="username" tabindex="1" class="form-control" placeholder="Username / Email" value="" required>
                                    </div>
                                    <br/>
									<div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
										<input type="password" name="password" tabindex="2" class="form-control" placeholder="Password" required>
									</div>
                                    <br>
									<div class="form-group">
										<div class="radio-inline">
                                          <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="instructor" checked>
                                            Instructor
                                          </label>
                                        </div>
                                        <div class="radio-inline">
                                          <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="admin">
                                            Admin
                                          </label>
                                        </div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
								</form>

								<form id="register-form" action="/register/" method="post" role="form" style="display: none;">
									{% csrf_token %}
									<div class="form-group">
										<input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Name" value="" required>
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" required>
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required>
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" required>
									</div>
									<div class="registrationFormAlert" id="divCheckPasswordMatch"></div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {

            $('#login-form-link').click(function(e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function(e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });

        });

		function checkPasswordMatch() {
			var password = $("#password").val();
			var confirmPassword = $("#confirm-password").val();

			if (password != confirmPassword)
				$("#divCheckPasswordMatch").html("Passwords do not match!<br>");
			else
        		$("#divCheckPasswordMatch").html("");
		}
        $(document).ready(function () {
		   $("#confirm-password").keyup(checkPasswordMatch);
		});
		$( "#register-submit" ).click(function() {
		  if( $("#password").val() != $("#confirm-password").val())
			  return false;
		});

    </script>

</body>
</html>