{% extends "myadmin/admin_base.html" %}

{% block content %}

<div id="page-content-wrapper" class="">
    <div class="page-content inset">
        <div class="content-header">
             <h1 id="home" class="">
                    <a id="menu-toggle" href="#" class="btn btn-menu btn-lg toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                Feedback for {{course.course.number}}
                </h1>
            </div>
        </div>


        <div class="row">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 well">
                    <legend>Midsem</legend>
                    <form action="/admin/feedback/" id="addCourse" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="q1">Question 1</label>
                            <textarea class="form-control" name="midsem1" id="q1" rows="3">The course as a whole was ... ( Rate from 1-5 )</textarea>
                        </div>
                        <label for="q2">Question 2</label>
                        <div class="form-group">
                            <textarea class="form-control" name="midsem2" id="q2" rows="3">The homework assignments and/or associated laboratory exercises were ... ( Easy being 1 and Hard being 5 )</textarea>
                        </div>
                        <input type="hidden" name="course_number" value="{{course.course_number}}">
                        <input type="hidden" name="time_of_year" value="{{course.time_of_year}}">
                        <input type="hidden" name="year" value="{{course.year}}">
                    <legend>Endsem</legend>
                        <div class="form-group">
                            <label for="Q1">Question 1</label>
                            <textarea class="form-control" id="Q1" name="endsem1" rows="3">The course as a whole was ... ( Rate from 1-5 )</textarea>
                        </div>
                        <label for="Q2">Question 2</label>
                        <div class="form-group">
                            <textarea class="form-control" id="Q2" name="endsem2" rows="3">The homework assignments and/or associated laboratory exercises were ... ( Easy being 1 and Hard being 5 )</textarea>
                        </div>

                        <input type="hidden" name="course_number" value="{{course.course_number}}">
                        <input type="hidden" name="time_of_year" value="{{course.time_of_year}}">
                        <input type="hidden" name="year" value="{{course.year}}">
                        <button type="submit" id="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>


{% endblock %}